osmapi
AEMET-OpenData
fastapi
uvicorn[standard]
pymongo[srv]
pytest
requests
email-validator
jinja2
pytz
folium
branca
python-multipart
passlib[bcrypt]
cloudinary
fastapi_sso
authlib
python-dotenv
braintree