<!doctype html>
<html lang="es" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login - RentNite</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <header>
        <img alt="Brand" width="225" height="50" src="static/img/image.png">
        <a href="register.html" role="button" class="btn btn-outline-light rounded-0">Registro</a>
    </header>

    <div>
        <div>
            <div>
                <img src="static/img/image.png" id="icon" alt="User Icon" />
            </div>
            <h1>Inicie sesión</h1>

            <!-- Login Form -->
            <form id="login" method="post" onsubmit="return validacionLogin()">
                <input title="Usuario" type="text" id="user" class="fadeIn second" name="login"
                    placeholder="correo"><br>
                <input type="submit" class="fadeIn fourth" value="Entrar">
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="">He olvidado la contraseña</a>
            </div>

        </div>
    </div>
    <script>
        function validacionLogin() {
            const n = document.getElementById("user").value;
            window.location = ("http://127.0.0.1:8000/login/" + n);
        }
    </script>

</body>


</html>