{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding-left: 1em">
    <a class="navbar-brand" href="#">RentNite</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/houses/">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/chats">Chats</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/houses/myHouses">Mis casas</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Reservas
          </a>
          <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/bookings/booked">Mis reservas</a>
            <a class="dropdown-item" href="/bookings/myHouses">Reservas de mis casas</a>
          </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/profile/">Mi perfil</a>
        </li>
        {% if user_id is none %}
        <li class="nav-item">
          <a class="nav-link" href="/login">Iniciar sesi&oacute;n</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/login/logout/">Salir</a>
        </li>
        {% endif %}
      </ul>
    </div>
</nav>
{% endblock %}