<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Casas Ofertadas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    {% block content %}
    <h1>Casas Ofertadas</h1>
    {% if houses | count > 0 %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="container">
                <div class="row">
                    {% for house in houses %}
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src={{ house.image }} alt="Imagen casa ofertada" style="width:100%" onclick="">
                            <div class="caption">
                                <p> Direccion: {{ house.address }} </p>
                                <p> Capacidad: {{ house.capacity }} </p>
                                <p> Precio: {{ house.price }} </p>
                                <p> Habitaciones: {{ house.rooms }} </p>
                                <p> Baños: {{ house.bathrooms }} </p>
                                <p> Dueño: <span onClick="profile(" {{ house.ownerId }} ");" style="cursor: pointer"> {{ house.ownerName }}</span></p>
                                <p> Dueño: <a window.location =" {{ house.ownerId }} ">{{ house.ownerName }}</a> </p>
                                <p> Coordenadas: {{ house.longitude }} ; {{ house.latitude }} </p>
                                <button onclick="booking">Reservar</button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>

            <div class="col-md-2"></div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="col-md-3"></div>
                <div class="col-md-6 bg-warning warning_mesagge">
                    <label>A&uacute;n No hay casas ofertadas</label>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
        {% endif %}
      
        

            <script> 
                function profile(OwnerId){
                    console.log(OwnerId);
                    window.location = ("http://127.0.0.1:8000/profile/" + OwnerId);
                }
            </script>

        {% endblock content %}
</body>

</html>