<!doctype html>
<html lang="es" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile - RentNite</title>
</head>

<body>
    
    <header>
        <img alt="Brand" width="225" height="50" src="static/img/image.png">
        <a href="register.html" role="button" class="btn btn-outline-light rounded-0">Registro</a>
    </header>
    <h1 id="username">{{ user.username }}</h1>
    <h2 id="email">{{ user.email }}</h2> 
    

</body>



</html>